<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"beacon-1.newrelic.com","errorBeacon":"jserror.newrelic.com","licenseKey":"66a8d51230","applicationID":"1241738","transactionName":"J19cQUoOWA0ERBoJUA1eHVxWBVEZ","queueTime":0,"applicationTime":187,"ttGuid":"","agentToken":null,"agent":"js-agent.newrelic.com/nr-356.min.js"}</script>
<script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function a(b,c,d){function e(f){if(!c[f]){var g=c[f]={exports:{}};b[f][0].call(g.exports,function(a){var c=b[f][1][a];return e(c?c:a)},g,g.exports,a,b,c,d)}return c[f].exports}for(var f=0;f<d.length;f++)e(d[f]);return e}({"4O2Y62":[function(a,b){function c(a,b){var c=d[a];return c?c.apply(this,b):(e[a]||(e[a]=[]),void e[a].push(b))}var d={},e={};b.exports=c,c.queues=e,c.handlers=d},{}],handle:[function(a,b){b.exports=a("4O2Y62")},{}],YLUGVp:[function(a,b){function c(){var a=m.info=NREUM.info;if(a&&a.agent&&a.licenseKey&&a.applicationID){m.proto="https"===l.split(":")[0]||a.sslForHttp?"https://":"http://",g("mark",["onload",f()]);var b=i.createElement("script");b.src=m.proto+a.agent,i.body.appendChild(b)}}function d(){"complete"===i.readyState&&e()}function e(){g("mark",["domContent",f()])}function f(){return(new Date).getTime()}var g=a("handle"),h=window,i=h.document,j="addEventListener",k="attachEvent",l=(""+location).split("?")[0],m=b.exports={offset:f(),origin:l,features:[]};i[j]?(i[j]("DOMContentLoaded",e,!1),h[j]("load",c,!1)):(i[k]("onreadystatechange",d),h[k]("onload",c)),g("mark",["firstbyte",f()])},{handle:"4O2Y62"}],loader:[function(a,b){b.exports=a("YLUGVp")},{}]},{},["YLUGVp"]);</script>

<title>Lenta.ru</title>
<link href="http://icdn.lenta.ru/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link href="http://icdn.lenta.ru/lenta_touch.png" rel="apple-touch-icon" type="image/png" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="Новости, статьи, фотографии, видео. Семь дней в неделю, 24 часа в сутки." name="description">
<meta content="Новости, статьи, фотографии, видео. Семь дней в неделю, 24 часа в сутки." property="og:description">
<meta content="article" property="og:type">
<meta content="http://icdn.lenta.ru/assets/lenta_og-437ef9916a9728236991460e693beb46.png" property="og:image">
<meta content="Lenta.RU" property="og:site_name">
<meta content="Лента.Ру" property="og:title">
<meta content="http://lenta.ru" property="og:url">

<link href="/rss" rel="alternate" title="RSS" type="application/rss+xml" />

<link href="http://icdn.lenta.ru/assets/lenta-507b4f5ee702d1fb815655a25d0cb813.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://icdn.lenta.ru/assets/main-e7c125bfc46a0865e0d561bc9773a265.css" media="all" rel="stylesheet" type="text/css" />

<script>
  var _sf_startpt=(new Date()).getTime()
</script>
<script src="http://icdn.lenta.ru/assets/core-cef00274e976ddaba5582927be2138b3.js" type="text/javascript"></script>
</head>
<body>
<div class="g-application" id="root">
<section class="b-banner-top-decorator js-advert"><script type="text/javascript">
  <!--
  if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
  if (typeof(document.referrer) != 'undefined') {
    if (typeof(afReferrer) == 'undefined') {
      afReferrer = escape(document.referrer);
    }
  } else {
    afReferrer = '';
  }
  var addate = new Date();

  var scrheight = '', scrwidth = '';
  if (self.screen) {
  scrwidth = screen.width;
  scrheight = screen.height;
  } else if (self.java) {
  var jkit = java.awt.Toolkit.getDefaultToolkit();
  var scrsize = jkit.getScreenSize();
  scrwidth = scrsize.width;
  scrheight = scrsize.height;
  }

  var dl = escape(document.location);
  var pr1 = Math.floor(Math.random() * 1000000);

  document.write('<div id="AdFox_banner_'+pr1+'"><\/div>');
  document.write('<div style="visibility:hidden; position:absolute;"><iframe id="AdFox_iframe_'+pr1+'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div>');

  AdFox_getCodeScript(1,pr1,'http://ads.adfox.ru/171817/prepareCode?p1=bmdxv&amp;p2=ewtn&amp;pct=c&amp;pfc=a&amp;pfb=a&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '&amp;puid1=&amp;puid2=&amp;puid3='+_montblanc.get('4i', '')+'&amp;puid4='+_montblanc.get('c6', '')+'&amp;puid5=&amp;puid6=MAIN&amp;puid7=&amp;puid8=&amp;puid9=&amp;puid10=&amp;puid11=&amp;puid12=&amp;puid13=&amp;puid14=&amp;puid15=0&amp;puid16=&amp;puid17=&amp;puid18=0&amp;puid19=&amp;puid20=&amp;puid21=&amp;puid22='+_montblanc.get('y1', '')+'&amp;puid23=&amp;puid24=&amp;puid25=&amp;puid26=&amp;puid27=&amp;puid28=&amp;puid29=&amp;puid30=&amp;puid31=&amp;puid32=&amp;puid33='+_montblanc.get('bj', '')+'&amp;puid34=&amp;puid35=&amp;pdw=' + scrwidth + '&amp;pdh=' + scrheight + '&amp;dl='+dl+'&amp;pr1='+pr1);
  // -->
</script></section>


<nav class="b-sidebar-menu">
<div class="mini" id="menu-toggler">
<div class="toggler icons-sprite icons-menu_toggler"></div>
</div>
<div class="origin b-menu-decorator" id="sidebar-menu">
<div class="b-sidebar-menu__wrap">
<ul>
<li class="delimiter">
<div></div>
</li>
<li class="special"><a href="/" style="color: #ffffff">Главное</a></li>
<li class="special"><a href="/rubrics/russia/" style="color: #ffffff">Россия</a></li>
<li class="special"><a href="/rubrics/world/" style="color: #ffffff">Мир</a></li>
<li class="special"><a href="/rubrics/ussr/" style="color: #ffffff">Бывший СССР</a></li>
<li class="special"><a href="/rubrics/economics/" style="color: #ffffff">Экономика</a></li>
<li class="special"><a href="/rubrics/science/" style="color: #ffffff">Наука и техника</a></li>
<li class="special"><a href="/rubrics/sport/" style="color: #ffffff">Спорт</a></li>
<li class="special"><a href="/rubrics/culture/" style="color: #ffffff">Культура</a></li>
<li class="special"><a href="/rubrics/media/" style="color: #ffffff">Интернет и СМИ</a></li>
<li class="special"><a href="/rubrics/life/" style="color: #ffffff">Из жизни</a></li>
<li class="delimiter">
<div></div>
</li>
<li><a href="/rubrics/lentadoc/" style="color: #ffffff">Lenta.doc</a></li>
<li class="delimiter">
<div></div>
</li>
<li><a href="http://parasochi.lenta.ru/" style="color: #ffffff">Игры без преград</a></li>
<li class="delimiter">
<div></div>
</li>
<li><a href="http://motor.ru/" style="color: #959595">Мотор</a></li>
<li><a href="http://dom.lenta.ru/" style="color: #959595">Дом</a></li>
<li><a href="http://medportal.ru/mednovosti/" style="color: #959595">МедНовости</a></li>
<li class="delimiter">
<div></div>
</li>
<li><a href="/parts/text/" style="color: #959595">Статьи</a></li>
<li><a href="/parts/photo/" style="color: #959595">Галереи</a></li>
</ul>
<div class="b-sidebar-menu__fuck icons-sprite icons-fuck"></div>
<div class="b-sidebar-menu__under-fuck icons-sprite icons-under_fuck"></div>
<form action="/search" class="search" method="GET">
<input name="query" placeholder="Поиск" type="text">
<i class="icons-sprite icons-search" onclick="$(this).closest('form').submit()"></i>
</form>
</div>
</div>
</nav>

<div class="b-up icons-sprite icons-up" id="up" title="наверх"></div>
<section class="b-header-main">
<div class="g-layout">
<div class="row">
<div class="span4">
<div class="logo-wrap">
<a class="b-header-main__logo icons-sprite icons-lenta_big" href="/"></a>
<span class="date" id="date-time">&nbsp;</span>
</div>
</div>
<div class="span8 b-ears"><div class="row-fluid">
<div class="span6">
<div class="b-ears__item b-ears__item_no-picture">
<div class="b-ears__item__wrap">
<div class="info">
<div class="type"><a href="/rubrics/russia/">Россия</a></div>
<h3><a href="/articles/2014/03/11/vikarij/" class="js-dh">Зачем ты меня убила?</a></h3>
<div class="rightcol">Персонажи книги о сельской глубинке засудили автора: репортаж «Ленты.ру»</div>
</div>
</div>
</div>
</div>
<div class="span6">
<div class="b-ears__item b-ears__item_no-picture">
<div class="b-ears__item__wrap">
<div class="info">
<div class="type"><a href="/rubrics/ussr/">Бывший СССР</a></div>
<h3><a href="/articles/2014/03/10/tatar/" class="js-dh">Они придумали Крым</a></h3>
<div class="rightcol">Татарско-турецкий фактор в судьбе полуострова</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="b-headline" id="headline-panel">
<div class="g-layout">
<div class="wrap">
<a href="/info/posts/statement/">Дорогим читателям от дорогой редакции</a>
<span class="icons-sprite icons-close" id="headline-toggler"></span>
</div>
</div>
</section>

<section class="b-layout b-layout_main">
<div class="g-layout">
<!-- ошибка при обработке инклуда -->
<div class="row">
<div class="span8">
<section class="row b-top7-for-main">
<div class="span4">
  <%
    @feature = @feeds["politics"].entries.select{|a| a.enclosure_url}.first
    @feeds["politics"].entries.delete(@feature)
  %>
<div class="first-item">
<a href="<%= @feature.url %>" class="js-dh"><img alt="Галина Тимченко" class="g-picture" height="200" src="<%= @feature.enclosure_url %>" style="max-width: 300px; width: 300px; height: 200px;" width="300" />
</a><h2>
<time class="g-time" datetime=" 16:13, 12 марта 2014" title="12 марта 2014"><%= @feature.published.strftime("%H:%M") %></time>

<a href="<%= @feature.url %>"><%= @feature.title %></a>
</h2>
<div class="announce">
<%= @feature.summary %>
<div class="more"><a href="<%= @feature.url %>" class="js-dh">Читать полностью</a></div>
</div>
</div>
</div>
<div class="span4">
<div class="items">
  
  <% @feeds["politics"].entries[0..6].each do |article|%>
    <div class="item">
      <time class="g-time" datetime="<%= article.published%>" title="12 марта 2014"><%= article.published.strftime("%H:%M") %></time>
      <a href="<%= article.url %>"><%= article.title%></a>
    </div>
  <% end%>
</div>
</div>
</section>
<section class="row">
<div class="span8">
<div class="line"></div>
</div>
</section>

<section class="b-feature b-feature_article">
<a href="/articles/2014/03/12/mirimanova/" class="js-dh picture"><img alt="Рабочий устанавливает баннер в окрестностях Симферополя, 11 марта 2014 года" class="g-picture" height="310" src="http://icdn.lenta.ru/images/2014/03/12/15/20140312150755277/feature_033e090c6947a63e4cc905c017f48516.jpg" style="max-width: 620px; width: 620px; height: 310px;" width="620" />
</a>
<div class="b-feature__wrap">
<div class="g-date">
<a href="/rubrics/ussr/" class="rubric">Бывший СССР</a>
&mdash;
<time>12 марта 2014</time>
</div>
<h1><a href="/articles/2014/03/12/mirimanova/">«Крым — это культура компромисса»</a></h1>
<div class="rightcol">
<a href="/articles/2014/03/12/mirimanova/">Интервью с Наталией Миримановой — экспертом по разрешению конфликтов
<span class="icons-sprite icons-arrow"></span>
</a></div>
</div>
</section>

<div class="row">
<div class="span4"><section class="b-longgrid-column">
<div class="article item">
<div class="info g-date">
<a href="/rubrics/ussr/" class="rubric">Бывший СССР</a>
&mdash;
<span class="g-date"><span class="time">21:40</span> 11 марта 2014</span>
</div>
<a href="/articles/2014/03/11/crimea/" class="js-dh picture"><img alt="Soldiers, believed to be Russian, look out from the back of a military truck as they drive near a sign near the Crimean port city of Sevastopol March 10, 2014. The sign reads &quot;there is a choice&quot; (top) and &quot;people&#x27;s power&quot;. REUTERS/Baz Ratner (UKRAINE - Tags: MILITARY POLITICS)" class="g-picture" height="200" src="http://icdn.lenta.ru/images/2014/03/11/16/20140311164437347/top7_aa41f5e502b95de69fc819d39bbb3256.jpg" style="max-width: 300px; width: 300px; height: 200px;" width="300" />
</a>
<div class="titles">
<h3>
<a href="/articles/2014/03/11/crimea/"><span>Субъект федерации под ключ</span>
</a></h3>
<div class="rightcol">Крым спешно готовится к референдуму</div>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">15:09</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/refuse1/">Профессор Гнесинки признал себя подписантом обращения по Крыму</a>
</h3>
</div>
</div>
<div class="article item">
<div class="info g-date">
<a href="/rubrics/sport/" class="rubric">Спорт</a>
&mdash;
<span class="g-date"><span class="time">16:30</span> Сегодня</span>
</div>
<a href="/articles/2014/03/12/zavarzinawild/" class="js-dh picture"><img alt="Алена Заварзина и Вик Уайлд" class="g-picture" height="200" src="http://icdn.lenta.ru/images/2014/03/12/15/20140312150325998/top7_6b968513e290add2900b5c88b932ba7e.jpg" style="max-width: 300px; width: 300px; height: 200px;" width="300" />
</a>
<div class="titles">
<h3>
<a href="/articles/2014/03/12/zavarzinawild/"><span>«Это круче, чем просто спорт»</span>
</a></h3>
<div class="rightcol">«Лента.ру» поговорила с Аленой Заварзиной и Виком Уайлдом — идеальной парой сочинской Олимпиады</div>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">14:27</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/navalny/">Навальный выступил против присоединения Крыма к России</a>
</h3>
</div>
</div>
<div class="article item">
<div class="info g-date">
<a href="/rubrics/culture/" class="rubric">Культура</a>
&mdash;
<span class="g-date"><span class="time">23:00</span> 11 марта 2014</span>
</div>
<a href="/articles/2014/03/11/true/" class="js-dh picture"><img alt="Кадр из сериала «Настоящий детектив»" class="g-picture" height="200" src="http://icdn.lenta.ru/images/2014/03/10/18/20140310184042132/top7_460da15f431b21199b6ea058b17e8d97.jpg" style="max-width: 300px; width: 300px; height: 200px;" width="300" />
</a>
<div class="titles">
<h3>
<a href="/articles/2014/03/11/true/"><span>Противление злу насилием</span>
</a></h3>
<div class="rightcol">«Настоящий детектив» задал новую планку умных сериалов</div>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">14:20</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/bezrukov/">Власти Грузии отменили гастроли театра Безрукова из-за Крыма</a>
</h3>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">14:28</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/olpcvse/">СМИ сообщили о закрытии проекта One Laptop Per Child</a>
</h3>
</div>
</div>
</section>
</div>
<div class="span4"><section class="b-longgrid-column">
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">10:11</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/yarosh/">Московский суд заочно арестовал лидера «Правого сектора»</a>
</h3>
</div>
</div>
<div class="article item">
<div class="info g-date">
<a href="/rubrics/ussr/" class="rubric">Бывший СССР</a>
&mdash;
<span class="g-date"><span class="time">14:52</span> 11 марта 2014</span>
</div>
<a href="/articles/2014/03/11/khodorkovsky/" class="js-dh picture"><img alt="UKRAINE, Kiev : Mikhail Khodorkovsky, the recently freed former head of the Russian oil company Yukos, addresses an anti-war rally in Independence Square in the Ukrainian capital Kiev on March 9, 2014. Khodorkovsky, Russian President Vladimir Putin&#x27;s top foe who spent a decade behind bars, told thousands on Kiev&#x27;s main protest square that the Kremlin colluded with Ukraine&#x27;s ousted regime in violence claiming 100 lives. AFP PHOTO/ VOLODYMYR SHUVAYEV" class="g-picture" height="200" src="http://icdn.lenta.ru/images/2014/03/11/12/20140311124655429/top7_fc2071712ae6411f67f1859601f9130b.jpg" style="max-width: 300px; width: 300px; height: 200px;" width="300" />
</a>
<div class="titles">
<h3>
<a href="/articles/2014/03/11/khodorkovsky/"><span>Ну, такое</span>
</a></h3>
<div class="rightcol">Киевские гастроли Михаила Ходорковского: репортаж «Ленты.ру»</div>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">13:04</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/gas/">Украина частично оплатила купленный в феврале российский газ</a>
</h3>
</div>
</div>
<div class="article item">
<div class="info g-date">
<a href="/rubrics/motor/" class="icons-sprite icons-logo_motor"></a>
<span class="g-date"><span class="time">13:02</span> Сегодня</span>
</div>
<a href="http://motor.ru/articles/2014/03/12/newmini/" class="js-dh picture"><img alt="" class="g-picture" height="200" src="http://icdn.lenta.ru/images/2014/03/12/13/20140312130147177/top7_ea40e8d12b8492ab7f9c998b34cbb6eb.jpg" style="max-width: 300px; width: 300px; height: 200px;" width="300" />
</a>
<div class="titles">
<h3>
<a href="http://motor.ru/articles/2014/03/12/newmini/"><span>Наука бессильна</span>
</a><a href="http://motor.ru" class="outer_link icons-sprite icons-outer_link" target="_blank"></a>
</h3>
<div class="rightcol">Первый тест MINI Cooper и Cooper S нового поколения</div>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">11:43</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/lisnyanskaya/">Умерла поэтесса Инна Лиснянская</a>
</h3>
</div>
</div>
<div class="article item">
<div class="info g-date">
<a href="/rubrics/economics/" class="rubric">Экономика</a>
&mdash;
<span class="g-date"><span class="time">20:34</span> 11 марта 2014</span>
</div>
<a href="/articles/2014/03/10/goldprices/" class="js-dh picture"><img alt="" class="g-picture" height="200" src="http://icdn.lenta.ru/images/2014/03/10/15/20140310153952606/top7_ef007f9087fa0c0a723aa8e3e893ba73.jpg" style="max-width: 300px; width: 300px; height: 200px;" width="300" />
</a>
<div class="titles">
<h3>
<a href="/articles/2014/03/10/goldprices/"><span>Драгметалл в голосе</span>
</a></h3>
<div class="rightcol">Банкиров обвинили в махинациях с ценами на золото</div>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">14:11</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="http://dom.lenta.ru/news/2014/03/12/ahmat/">Объявлены сроки строительства 400-метровой башни «Ахмат»</a>
</h3>
</div>
</div>
</section>
</div>
</div>
</div>
<div class="span4">
<section class="b-yellow-box">
<div class="b-yellow-box__wrap">
<h2 class="bordered-title">Главное за сутки</h2>
<div class="item">
<time class="g-time" datetime=" 12:11, 12 марта 2014" title="12 марта 2014">12:11</time>

<a href="/news/2014/03/12/pravysektor/">Роскомнадзор вынес предупреждение «Ленте.ру» из-за интервью с «Правым сектором»</a>
</div>
<div class="item">
<time class="g-time" datetime=" 14:57, 12 марта 2014" title="12 марта 2014">14:57</time>

<a href="/news/2014/03/12/babushki/">Письмо в поддержку политики Путина в Крыму подписали более 100 деятелей культуры</a>
</div>
<div class="item">
<time class="g-time" datetime=" 15:32, 12 марта 2014" title="12 марта 2014">15:32</time>

<a href="/news/2014/03/12/cameron/">Британский премьер предложил санкции для российских законодателей</a>
</div>
<div class="item">
<time class="g-time" datetime=" 16:54, 12 марта 2014" title="12 марта 2014">16:54</time>

<a href="/news/2014/03/12/sk/">СК возбудил дело за уголовное преследование командующего ЧФ</a>
</div>
<div class="item">
<time class="g-time" datetime=" 13:10, 12 марта 2014" title="12 марта 2014">13:10</time>

<a href="/news/2014/03/12/duma/">Дума собрала группу наблюдателей за референдумом в Крыму</a>
</div>
</div>
</section>

<div class="b-banner-sidebar-decorator js-advert"><script type="text/javascript">
  <!--
  if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
  if (typeof(document.referrer) != 'undefined') {
    if (typeof(afReferrer) == 'undefined') {
      afReferrer = escape(document.referrer);
    }
  } else {
    afReferrer = '';
  }
  var addate = new Date();

  var scrheight = '', scrwidth = '';
  if (self.screen) {
  scrwidth = screen.width;
  scrheight = screen.height;
  } else if (self.java) {
  var jkit = java.awt.Toolkit.getDefaultToolkit();
  var scrsize = jkit.getScreenSize();
  scrwidth = scrsize.width;
  scrheight = scrsize.height;
  }

  var dl = escape(document.location);
  var pr1 = Math.floor(Math.random() * 1000000);

  document.write('<div id="AdFox_banner_'+pr1+'"><\/div>');
  document.write('<div style="visibility:hidden; position:absolute;"><iframe id="AdFox_iframe_'+pr1+'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div>');

  AdFox_getCodeScript(1,pr1,'http://ads.adfox.ru/171817/prepareCode?p1=bluqt&amp;p2=emhk&amp;pct=c&amp;pfc=a&amp;pfb=a&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '&amp;puid1=&amp;puid2=&amp;puid3='+_montblanc.get('4i', '')+'&amp;puid4='+_montblanc.get('c6', '')+'&amp;puid5=&amp;puid6=MAIN&amp;puid7=&amp;puid8=&amp;puid9=&amp;puid10=&amp;puid11=&amp;puid12=&amp;puid13=&amp;puid14=&amp;puid15=0&amp;puid16=&amp;puid17=&amp;puid18=0&amp;puid19=&amp;puid20=&amp;puid21=&amp;puid22='+_montblanc.get('y1', '')+'&amp;puid23=&amp;puid24=&amp;puid25=&amp;puid26=&amp;puid27=&amp;puid28=&amp;puid29=&amp;puid30=&amp;puid31=&amp;puid32=&amp;puid33='+_montblanc.get('bj', '')+'&amp;puid34=&amp;puid35=&amp;pdw=' + scrwidth + '&amp;pdh=' + scrheight + '&amp;dl='+dl+'&amp;pr1='+pr1);
  // -->
</script></div>
<div class="b-banner-sidebar-promo-decorator js-advert"><script type="text/javascript">
  <!--
  if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
  if (typeof(document.referrer) != 'undefined') {
    if (typeof(afReferrer) == 'undefined') {
      afReferrer = escape(document.referrer);
    }
  } else {
    afReferrer = '';
  }
  var addate = new Date();

  var scrheight = '', scrwidth = '';
  if (self.screen) {
  scrwidth = screen.width;
  scrheight = screen.height;
  } else if (self.java) {
  var jkit = java.awt.Toolkit.getDefaultToolkit();
  var scrsize = jkit.getScreenSize();
  scrwidth = scrsize.width;
  scrheight = scrsize.height;
  }

  var dl = escape(document.location);
  var pr1 = Math.floor(Math.random() * 1000000);

  document.write('<div id="AdFox_banner_'+pr1+'"><\/div>');
  document.write('<div style="visibility:hidden; position:absolute;"><iframe id="AdFox_iframe_'+pr1+'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div>');

  AdFox_getCodeScript(1,pr1,'http://ads.adfox.ru/171817/prepareCode?p1=bmdxz&amp;p2=ewtr&amp;pct=a&amp;pfc=a&amp;pfb=a&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '&amp;puid1=&amp;puid2=&amp;puid3='+_montblanc.get('4i', '')+'&amp;puid4='+_montblanc.get('c6', '')+'&amp;puid5=&amp;puid6=MAIN&amp;puid7=&amp;puid8=&amp;puid9=&amp;puid10=&amp;puid11=&amp;puid12=&amp;puid13=&amp;puid14=&amp;puid15=0&amp;puid16=&amp;puid17=&amp;puid18=0&amp;puid19=&amp;puid20=&amp;puid21=&amp;puid22='+_montblanc.get('y1', '')+'&amp;puid23=&amp;puid24=&amp;puid25=&amp;puid26=&amp;puid27=&amp;puid28=&amp;puid29=&amp;puid30=&amp;puid31=&amp;puid32=&amp;puid33='+_montblanc.get('bj', '')+'&amp;puid34=&amp;puid35=&amp;pdw=' + scrwidth + '&amp;pdh=' + scrheight + '&amp;dl='+dl+'&amp;pr1='+pr1);
  // -->
</script></div>
<div class="b-banner-sidebar-extra-decorator js-advert"><script type="text/javascript">
  <!--
  if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
  if (typeof(document.referrer) != 'undefined') {
    if (typeof(afReferrer) == 'undefined') {
      afReferrer = escape(document.referrer);
    }
  } else {
    afReferrer = '';
  }
  var addate = new Date();

  var scrheight = '', scrwidth = '';
  if (self.screen) {
  scrwidth = screen.width;
  scrheight = screen.height;
  } else if (self.java) {
  var jkit = java.awt.Toolkit.getDefaultToolkit();
  var scrsize = jkit.getScreenSize();
  scrwidth = scrsize.width;
  scrheight = scrsize.height;
  }

  var dl = escape(document.location);
  var pr1 = Math.floor(Math.random() * 1000000);

  document.write('<div id="AdFox_banner_'+pr1+'"><\/div>');
  document.write('<div style="visibility:hidden; position:absolute;"><iframe id="AdFox_iframe_'+pr1+'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div>');

  AdFox_getCodeScript(1,pr1,'http://ads.adfox.ru/171817/prepareCode?p1=bmdxy&amp;p2=ewtq&amp;pct=a&amp;pfc=a&amp;pfb=a&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '&amp;puid1=&amp;puid2=&amp;puid3='+_montblanc.get('4i', '')+'&amp;puid4='+_montblanc.get('c6', '')+'&amp;puid5=&amp;puid6=MAIN&amp;puid7=&amp;puid8=&amp;puid9=&amp;puid10=&amp;puid11=&amp;puid12=&amp;puid13=&amp;puid14=&amp;puid15=0&amp;puid16=&amp;puid17=&amp;puid18=0&amp;puid19=&amp;puid20=&amp;puid21=&amp;puid22='+_montblanc.get('y1', '')+'&amp;puid23=&amp;puid24=&amp;puid25=&amp;puid26=&amp;puid27=&amp;puid28=&amp;puid29=&amp;puid30=&amp;puid31=&amp;puid32=&amp;puid33='+_montblanc.get('bj', '')+'&amp;puid34=&amp;puid35=&amp;pdw=' + scrwidth + '&amp;pdh=' + scrheight + '&amp;dl='+dl+'&amp;pr1='+pr1);
  // -->
</script></div>


<section class="b-longgrid-column">
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">14:58</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/mutko/">Мутко объявил о срыве сроков проектирования стадионов ЧМ-2018</a>
</h3>
</div>
</div>
<div class="article item">
<div class="info g-date">
<a href="/rubrics/realty/" class="icons-sprite icons-logo_dom"></a>
<span class="g-date"><span class="time">13:29</span> Сегодня</span>
</div>
<a href="http://dom.lenta.ru/articles/2014/03/11/triumfalnaya/" class="js-dh picture"><img alt="Площадь Маяковского (Триумфальная), 1966 год" class="g-picture" height="200" src="http://icdn.lenta.ru/images/2014/03/11/14/20140311143815773/top7_056e7d20d838de3812bfd59b23079fd4.jpg" style="max-width: 300px; width: 300px; height: 200px;" width="300" />
</a>
<div class="titles">
<h3>
<a href="http://dom.lenta.ru/articles/2014/03/11/triumfalnaya/"><span>Вокруг Маяковского</span>
</a><a href="http://dom.lenta.ru" class="outer_link icons-sprite icons-outer_link" target="_blank"></a>
</h3>
<div class="rightcol">Как изменится Триумфальная площадь</div>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">15:50</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/disprove/">Минобороны Украины опровергло перевод главной базы ВМС в Одессу</a>
</h3>
</div>
</div>
<div class="article item">
<div class="info g-date">
<a href="/rubrics/culture/" class="rubric">Культура</a>
&mdash;
<span class="g-date"><span class="time">18:42</span> Сегодня</span>
</div>
<a href="/articles/2014/03/12/southpark/" class="js-dh picture"><img alt="Скриншот из игры  «South Park: Палка Истины»" class="g-picture" height="200" src="http://icdn.lenta.ru/images/2014/03/12/13/20140312131147248/top7_4cd7d14ce2c5ab5121534ee124891e4a.jpg" style="max-width: 300px; width: 300px; height: 200px;" width="300" />
</a>
<div class="titles">
<h3>
<a href="/articles/2014/03/12/southpark/"><span>Сегодня мы многое поняли</span>
</a></h3>
<div class="rightcol">Великий маг и сиськи принцессы Кенни. Вышла игра про «Южный парк»</div>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">11:21</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/probe/">США и Нидерланды начали расследование деятельности Vimpelcom в Узбекистане</a>
</h3>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">15:37</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/disney/">Армин ван Бюрен и U.N.K.L.E. перепишут диснеевские хиты</a>
</h3>
</div>
</div>
<div class="item">
<div class="info g-date">
<span class="g-date"><span class="time">15:19</span> Сегодня</span>
</div>
<div class="titles">
<h3>
<a href="/news/2014/03/12/overexposed/">Джастин Бибер возглавил список примелькавшихся знаменитостей</a>
</h3>
</div>
</div>
</section>

</div>
</div>
</div>
</section>

<section class="b-tabloid">
<div class="g-layout">
<% rows = @feeds.to_a[1..6] %>
<% titles = {
  'world' => "В Мире", 
  'economy' => "Экономика", 
  'science' => "Наука и техника", 
  'sport' => "Спорт", 
  'culture' => "Культура", 
  'eco' => "Экология" 
}
%>



<div class="b-tabloid__row row">
<% rows[0..2].each do | row |%>

<div class="span4">
<div class="b-tabloid__item">
<h2 class="bordered-title">
<a href="/rubrics/economics/"><%= titles[row[0]]%></a>
</h2>
<% row[1].entries[0..6].each do |article|%>
<% if article.enclosure_url%>


<div class="b-tabloid__topic">
<a href="<%= article.url %>" class="js-dh"><img alt="" class="g-picture" height="64" src="<%= article.enclosure_url %>" style="max-width: 96px; width: 96px; height: 64px;" width="96" />
</a>
<div class="rightcol"><a href="<%= article.url %>"><%= article.title %></a></div>
</div>
<% else %>
<div class="b-tabloid__topic">
<a href="<%= article.url %>"><%= article.title %></a>
</div>



<% end %>
<% end %>

</div>
<div class="b-tabloid__more">
<a href="<%= row[1].url%>">Все материалы</a>
</div>
</div>
<% end %>
</div>


<div class="b-tabloid__row row">
<% rows[3..5].each do | row |%>

<div class="span4">
<div class="b-tabloid__item">
<h2 class="bordered-title">
<a href="/rubrics/economics/"><%= titles[row[0]]%></a>
</h2>
<% row[1].entries[0..6].each do |article|%>
<% if article.enclosure_url%>


<div class="b-tabloid__topic">
<a href="<%= article.url %>" class="js-dh"><img alt="" class="g-picture" height="64" src="<%= article.enclosure_url %>" style="max-width: 96px; width: 96px; height: 64px;" width="96" />
</a>
<div class="rightcol"><a href="<%= article.url %>"><%= article.title %></a></div>
</div>
<% else %>
<div class="b-tabloid__topic">
<a href="<%= article.url %>"><%= article.title %></a>
</div>



<% end %>
<% end %>

</div>
<div class="b-tabloid__more">
<a href="<%= row[1].url%>">Все материалы</a>
</div>
</div>
<% end %>
</div>

</div>
</section>


<div id="root_footer"></div>
</div>
<footer class="b-footer" id="footer">
<div class="g-layout">
<!--AdFox START-->
<!--adfox-ssp-->
<!--Площадка: Syncer / all / syncer-->
<!--Категория: <не задана>-->
<!--Тип баннера: 1x1-->
<script type="text/javascript">
<!--
if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
var addate = new Date();
document.write('<iframe src="http://ads.adfox.ru/202433/getCode?p1=biozy&amp;p2=v&amp;p3=a&amp;p4=a&amp;pct=a&amp;plp=a&amp;pli=a&amp;pop=a&amp;pfc=a&amp;pfb=a&amp;pr=' + pr + '&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '" frameBorder="0" width="1" height="1" marginWidth="0" marginHeight="0" scrolling="no" style="border: 0px; margin: 0px; padding: 0px;"><a href="http://ads.adfox.ru/202433/goDefaultLink?p1=biozy&amp;p2=v" target="_top"><img src="http://ads.adfox.ru/202433/getDefaultImage?p1=biozy&amp;p2=v" border="0" alt=""><\/a><\/iframe>');
//-->
</script>
<noscript>
<iframe src="http://ads.adfox.ru/202433/getCode?p1=biozy&amp;p2=v&amp;p3=a&amp;p4=a&amp;pct=a&amp;plp=a&amp;pli=a&amp;pop=a&amp;pfc=a&amp;pfb=a" frameBorder="0" width="1" height="1" marginWidth="0" marginHeight="0" scrolling="no" style="border: 0px; margin: 0px; padding: 0px;"><a href="http://ads.adfox.ru/202433/goDefaultLink?p1=biozy&amp;p2=v" target="_top"><img src="http://ads.adfox.ru/202433/getDefaultImage?p1=biozy&amp;p2=v" border="0" alt=""></a></iframe>
</noscript>
<!--AdFox END-->

<script type="text/javascript">
(function(){
    (new Image).src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//sync.rambler.ru/emily?partner_id=begun';
})();
</script>
<div class="counters">
<span class="counter counter_top100" id="top100"></span>
<span class="counter counter_liveinternet" id="liveinternet-counter"></span>
</div>
<script type="text/javascript">
<!--
xtnv = document;        //parent.document or top.document or document
xtsd = "http://logc278";
xtsite = "515389";
xtn2 = '2';        // level 2 site ID
xtpage = "";        //page name (with the use of :: to create chapters)
xtdi = "";        //implication degree
xt_multc = "";    //all the xi indicators (like "&x1=...&x2=....&x3=...")
xt_an = "";        //user ID
xt_ac = "";        //category ID
xt_xtcpath = 'icdn.lenta.ru/assets/shared/xtcore-4e7fa169c76bd710f48c9df99628ac30.js';      //xtcore.js path location (without http://)
//-->
</script>
<script type="text/javascript">
<!--
//do not modify below
if (window.xtparam!=null){window.xtparam+="&ac="+xt_ac+"&an="+xt_an+xt_multc;}
else{window.xtparam="&ac="+xt_ac+"&an="+xt_an+xt_multc;};
(function(){
  var at=document.createElement('script');
  at.type='text/javascript';
  at.async=true;
  at.src='http://'+xt_xtcpath;
(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]||document.getElementsByTagName('script')[0].parentNode).insertBefore(at,null);
})();
//-->
</script>
<noscript>
<img width="1" height="1" alt="" src="http://logc278.xiti.com/hit.xiti?s=515389&s2=&p=&di=&an=&ac=" >
</noscript>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P87FV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P87FV5');</script>
<!-- End Google Tag Manager -->

<noscript><img src="http://www.tns-counter.ru/V13a****rambler_ru/ru/UTF-8/tmsec=lenta_other/" width="1" height="1" alt=""></noscript>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18447330-1']);
  _gaq.push(['_setDomainName', '.lenta.ru']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter4308403 = new Ya.Metrika({id:4308403,
          webvisor:true,
          clickmap:true,
          trackLinks:true});
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");

  var _top100q = _top100q || [];

  _top100q.push(["setAccount", "80674"]);
  _top100q.push(["trackPageviewByLogo", document.getElementById("top100")]);


  (function(){
   var top100 = document.createElement("script"); top100.type = "text/javascript";

   top100.async = true;
   top100.src = ("https:" == document.location.protocol ? "https:" : "http:") + "//st.top100.ru/pack/pack.min.js";
   var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(top100, s);
  })();

</script>
<noscript><div><img src="//mc.yandex.ru/watch/4308403" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

<script type="text/javascript">

function catchOutboundClick(link) {
    link.onclick = function(e){
      e.preventDefault();
      trackOutboundLink(link, "Outbound Links", link.hostname, (link.target === '_blank' || e.ctrlKey || e.metaKey || e.which == 2));
    }
}

function trackOutboundLink(link, category, action, new_window) {
  try {
    _gaq.push(['_trackEvent', category , action]);
  } catch(err){}

  if(new_window){
    window.open(link.href, '_blank');
  } else {
    document.location.href = link.href;
  }
}

var outRe = new RegExp('^http:\/\/.+$','i');
var inRe = new RegExp('^http:\/\/'+location.hostname.replace("www.", "")+'.+$','i');
var links = document.getElementsByTagName("a");

for (var i = 0; i < links.length; i++) {
  var link = links[i];
  if (outRe.test(link.href) && !inRe.test(link.href)){
    catchOutboundClick(link);
  }
}
</script>


<div class="versions">
<span class="group mobile">
<a href="http://m.lenta.ru/"><span class="icons-sprite icons-iphone"></span>
<span class="label">Мобильная версия</span>
</a></span>
<span class="group pda">
<a href="http://pda.lenta.ru/"><span class="icons-sprite icons-nokia"></span>
<span class="label">PDA-версия</span>
</a></span>
<span class="group orphus">
<script src="http://icdn.lenta.ru/assets/vendors/orphus-8e34dd607b6731ff787bba431a07eda0.js" type="text/javascript"></script>
<a class="hide" href="http://orphus.ru" id="orphus" target="_blank"><img alt="Orphus" height="31" src="http://icdn.lenta.ru/assets/orphus-291ae445dd1450652e00ee30e6561aba.gif" width="88" /></a>
<a href="http://orphus.ru"><span class="icons-sprite icons-orphus"></span>
<span>
<strong>Нашли опечатку? <br/></strong>
Orphus: Ctrl+Enter
</span>
</a></span>
</div>
<div class="menu">
<span class="socials">
<a href="/rss" class="icons_socials icons-sprite icons-rss"></a>
</span>
<span class="links">
<a href="/info/">Редакция</a>
<a href="http://reklama.rambler.ru/sites/lenta/" target="_blank">Реклама</a>
<a href="mailto:it@lenta-co.ru">Техподдержка</a>
</span>
<span class="copyright">
&copy; 1999 ООО «Лента.Ру». Дизайн сайта —
<a href="http://charmerstudio.com" target="_blank">Charmer</a>
</span>
</div>
</div>
</footer>

<div class="b-banner b-banner_branding" id="advert-branding"><script type="text/javascript">
  <!--
  if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
  if (typeof(document.referrer) != 'undefined') {
    if (typeof(afReferrer) == 'undefined') {
      afReferrer = escape(document.referrer);
    }
  } else {
    afReferrer = '';
  }
  var addate = new Date();

  var scrheight = '', scrwidth = '';
  if (self.screen) {
  scrwidth = screen.width;
  scrheight = screen.height;
  } else if (self.java) {
  var jkit = java.awt.Toolkit.getDefaultToolkit();
  var scrsize = jkit.getScreenSize();
  scrwidth = scrsize.width;
  scrheight = scrsize.height;
  }

  var dl = escape(document.location);
  var pr1 = Math.floor(Math.random() * 1000000);

  var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    window_width = w.innerWidth || e.clientWidth || g.clientWidth;

  function get_cookie(name) {
    var matches = document.cookie.match(new RegExp(
      "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
  }

  if ( window_width > 1600 && 1 != get_cookie('mega_not_show') ) {
    document.write('<div id="AdFox_banner_'+pr1+'"><\/div>');
    document.write('<div style="visibility:hidden; position:absolute;"><iframe id="AdFox_iframe_'+pr1+'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div>');

    AdFox_getCodeScript(1,pr1,'http://ads.adfox.ru/171817/prepareCode?p1=bmdxx&amp;p2=ewtp&amp;pct=c&amp;pfc=a&amp;pfb=a&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '&amp;puid1=&amp;puid2=&amp;puid3='+_montblanc.get('4i', '')+'&amp;puid4='+_montblanc.get('c6', '')+'&amp;puid5=&amp;puid6=MAIN&amp;puid7=&amp;puid8=&amp;puid9=&amp;puid10=&amp;puid11=&amp;puid12=&amp;puid13=&amp;puid14=&amp;puid15=0&amp;puid16=&amp;puid17=&amp;puid18=0&amp;puid19=&amp;puid20=&amp;puid21=&amp;puid22='+_montblanc.get('y1', '')+'&amp;puid23=&amp;puid24=&amp;puid25=&amp;puid26=&amp;puid27=&amp;puid28=&amp;puid29=&amp;puid30=&amp;puid31=&amp;puid32=&amp;puid33='+_montblanc.get('bj', '')+'&amp;puid34=&amp;puid35=&amp;pdw=' + scrwidth + '&amp;pdh=' + scrheight + '&amp;dl='+dl+'&amp;pr1='+pr1);
    // -->
  }
</script></div>
<div class="b-editor-panel" id="editor-panel"><a href="#" class="button button_stat" id="toggle-stats"><span class="icons-sprite icons-stat"></span></a>
</div>
<script src="http://icdn.lenta.ru/assets/lenta-bf9759375929dd7382cd3d8619794106.js" type="text/javascript"></script>
<script>
  var n = document.getElementsByTagName('script')[0],
      s = document.createElement('script');

  s.type = 'text/javascript';
  s.src = 'http://lory.lenta.ru/boom?referrer=' + document.referrer;
  n.parentNode.insertBefore(s, n);
</script>
<script>
  window.Lenta = {"kind":"main","type":false,"bloc_slug":false,"tag_slug":false,"part_slug":false,"counter":true,"b310":false};
</script>
<script>
  var _sf_async_config={};

  _sf_async_config.uid = 54243;
  _sf_async_config.domain = 'lenta.ru';
  _sf_async_config.useCanonical = true;
  _sf_async_config.sections = 'main';

  (function(){
    function loadChartbeat() {
      window._sf_endpt=(new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    }
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
       loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>


</body>
</html>
